@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');



h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Space Mono', monospace;
}

body {
    height: 100%;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

nav {
    background: #EEE;
    box-shadow: 0 0 29px gray;
}

.page-header {
    padding-top: 7rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    color: black;
}

#about2{
    margin-bottom: 5rem;
}

#about {
    margin-top: 1rem;
}

.about-text{
    padding-top: 1rem;
}

#more {display: none;}

#gallery {
    background-color: #CDDEFF;
}

.single-gallery {
    background-color: #548CFF;
    border: 1px solid #CDDEFF;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
    transition: all 0.3s ease-out;
}

.single-gallery.gallery-icon {
    font-size: 60px;
    color: #754ef9;
    line-height: 56px;
}

.gallery-title a {
    font-style: bold;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color:#091353;
    transition: all 0.4s ease-out;
}

.gallery-title a:hover {
    color: #CAF0F8;
}

.single-gallery:hover {
    box-shadow: 0 0 21px 0 gray,0.3;
}

#work {
    margin: 2rem 0;
}

.work-image {
    margin: 20px 0;
}

.single-work {
    position: relative;
}

.single-work .work-image img {
    height: 100%;
}

.work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FF5959;
    opacity: 0;
    visibility:hidden;
    transition: all 0.4s ease-out;
}

.work-overlay .work-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.work-overlay .work-content .work-title {
    font-size: 22px;
    color:#676FA3;
    font-weight: 600;
    transform: translateY(-100%);
    margin-bottom: 15px;
    transition: all 0.4s ease-out;
}

.single-work:hover .work-overlay {
    opacity: 0.7;
    visibility: visible;
}

.single-work:hover .work-overlay .work-content .work-title {
    transform: translateY(0);
    opacity: 1;
}

.work-title {
    background-color: #CDDEFF;
}

.contact-box {
    background-color: #EEF2FF;
    border: 1px solid #ddd;
    padding: 50px 15px;
    height: 250px;
    margin-bottom: 25px;
    margin-top: 1.5rem;
    transition: all 0.4s ease-out;
    border-radius: 15px;
}

.contact-content {
    margin: 15px;
}

.contact-title {
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}

.contact-box:hover {
    box-shadow: 0 0 21px 0px #FF5959,9.3;
}

@media (max-width:600px) {
    .header-text .about-text {
        margin: 30px;
        text-align: center;
    }

    .header-img {
        display: none;
    }

    .about-img {
        display: none;
    }
}